<!DOCTYPE html>

{% load static %} 

<html>

    <head>
        <!-- CSS -->
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/styles.css' %}" rel="stylesheet">

        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Economica' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>

        <title>Platypus Home</title>
    </head>

    <body>
        <div class="container-fluid">
            <img src="{% static "images/background.jpg" %}" id="background" alt="Background"/>

            <div id="topbar"></div>

            <div id="sidebar">
                <div style="text-align: center; margin-top: 84px">
                    <!--Platypus Logo -->
                    <img src="http://cdn.flaticon.com/png/256/47119.png" style="width:200px; height:200px"/>
                </div>
            </div>

            <div id="back">
                <div class = "btn-group">
                    <button type="button" class="backbutton" id="navfont">Go Back</button>
                </div>
            </div>
    </body>
</html>