<!DOCTYPE html>

{% load static %} 
{% load dict_helper%}

<html>

    <script type='text/javascript' src='http://manage.htmlfreecodes.com/mg.js'></script>
    <p align=center><script language="javascript" type="text/javascript"src="http://htmlfreecodes.com/userdata/heart.js"></script>
    </p>
    <a target="_blank" href="http://www.online-calculator.biz" style="text-decoration:none;bottom:0;left:10px;font-size:5pt;color:gray;position:absolute">online calculator</a>
    <a target="_blank" href="http://www.htmlfreecodes.com" style="font-size: 8pt; text-decoration: none">Html Codes</a>

    <head>
        <!-- CSS -->
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/styles.css' %}" rel="stylesheet">

        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Economica' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>

        <title>Platypus Home</title>
    </head>

    <body>
        <div class="container-fluid">
            <img src="{% static "images/background.jpg" %}" id="background" alt="Background"/>

            <div id="topbar"></div>

            <div id="sidebar">
                <div style="text-align: center; margin-top: 84px">
                    <!--Platypus Logo -->
                    <img src="http://cdn.flaticon.com/png/256/47119.png" style="width:200px; height:200px"/>
                </div>
            </div>

            <div id="navbar">
                <div class="btn-group">
                    <button type="button" class="navbutton" id="navfont">Go Back</button>
                </div>
            </div>

            <div id="courseMatch"></div>
            <div id="courseMatchHeader">
                <h1 class="title">Course Matches</h1>
                <p class="title">--------------------</p>
                {% for course in course_dict%}
                    {{course}}<br>
                    {% for student in course_dict|key:course %}
                        <b>{{student}}</b>
                        {% if student in student_dict %}
                        {{student_dict|key:student}}
                        {% endif %}<br>
                    {% endfor %}<br>

                {% endfor %}
            </div>

            <div id="sectionMatch"></div>
            <div id="sectionMatchHeader">
                <h1 class="title">Section Matches</h1>
                <p class="title">--------------------</p>
                {% for section in sections_dict %}
                    Section: {{ section }}<br>
                    Matches:
                    {% for student in sections_dict|key:section %}
                        <b>{{student}}</b>
                        {% if student in student_dict %}
                        {{student_dict|key:student}}
                        {%endif%}

                    {% empty %}
                        None      
                    {% endfor %}<br>
                {% endfor %}

            </div>
    </body>
</html>