<!DOCTYPE html>

{% load static %} 

<html>

    <head>
        <title>Platypus</title>
        <link rel="stylesheet" href="{% static "css/base.css" %}" /> <!-- CSS -->
        <script src="{% static "js/jquery.js" %}"></script> <!-- JavaScript -->
    </head>

    <body>
        <h1>Including Static Media</h1>
        Doesn't this look incredibly delicious? <strong>{{ boldmessage }}</strong><br />
        <a href="/matchApp/about/">The History of Waffles</a><br />
        <p></p>
        <img src="{% static "images/waffles.jpg" %}" alt="Picture of Waffles" />
    </body>

</html>