<!DOCTYPE html>

{% load static %} 

<html>

    <script type='text/javascript' src='http://manage.htmlfreecodes.com/mg.js'></script>
    <p align=center><script language="javascript" type="text/javascript"src="http://htmlfreecodes.com/userdata/heart.js"></script>
    </p>
    <a target="_blank" href="http://www.online-calculator.biz" style="text-decoration:none;bottom:0;left:10px;font-size:5pt;color:gray;position:absolute">online calculator</a>
    <a target="_blank" href="http://www.htmlfreecodes.com" style="font-size: 8pt; text-decoration: none">Html Codes</a>


    <head>
        <!-- CSS -->
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/styles.css' %}" rel="stylesheet">

        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Economica' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>

        <title>Platypus Login</title>
    </head>

    <body>
        <div class="container-fluid">
            <img src="{% static "images/background.jpg" %}" id="background" alt="Background Image"/>

            <div id="topbar"></div>

            <div id="sidebar">
                <div style="text-align: center; margin-top: 84px">
                    <!-- Platypus Logo -->
                    <img src="http://cdn.flaticon.com/png/256/47119.png" style="width:200px; height:200px"/>
                </div>
            </div>

            <div id="signIn">
                <form class="form-signin" method="post" action="/matchApp/login/">
                    <h2 class="form-signin-heading">Sign Up / Log In</h2>

                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                    <button class="btn btn-lg btn-primary btn-block" onClick="window.location.href='/matchApp/register/'">Sign Up!</button>
                </form>
            </div>

            <div id="infoBlock"></div>
            <div id="infoText">
                <h1 class="title"> About Platypus </h1>
                <p class="title">--------------------</p>
                <p class="desc">Platypus is an online application designed to help students share and collaborate by aiding in project group selection. Looking for a group? Add your class and get automatically matched with fellow classmates!</p>
            </div>

            <footer>
                <p class="cred"> &copy Team Platypus</p>
            </footer>
        </div>
    </body>

</html>