<!DOCTYPE html>

{% load static %} 

<html>
    <script type='text/javascript' src='http://manage.htmlfreecodes.com/mg.js'></script>
    <p align=center><script language="javascript" type="text/javascript"src="http://htmlfreecodes.com/userdata/heart.js"></script>
    </p>
    <a target="_blank" href="http://www.online-calculator.biz" style="text-decoration:none;bottom:0;left:10px;font-size:5pt;color:gray;position:absolute">online calculator</a>
    <a target="_blank" href="http://www.htmlfreecodes.com" style="font-size: 8pt; text-decoration: none">Html Codes</a>

    <head>
         <!-- CSS -->
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/styles.css' %}" rel="stylesheet">

        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Economica' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>        

        <title>Platypus Register</title>
    </head>

    <body>
        <div class="container-fluid">
            <img src="{% static "images/background.jpg" %}" id="background" alt="Background Image"/>

            <div id="topbar"></div>

            <div id="registerBlock"></div>
            <div id="registerText">

                <div style="text-align: center; margin-top: -9%">
                    <!-- Platypus Logo -->
                    <img src="http://cdn.flaticon.com/png/256/47119.png" style="width:200px; height:200px"/>
                </div>

                <!-- Registration Form -->
                <h2 class="signup">Sign Up</h2>
                <form method="post" class="customSignInForm">
                    {% if registered %}
                    <h3 class="subtitle"> Thank you for registering! </h3>
                    <h1><a href="/matchApp/login">Return to Login Page</a></h1>
                    {% else %}
                    <h2 class="form-signin-message">Please register here:</h2>
                    <form class="form-signin-message" id="user_form" method="post" action="/matchApp/register/" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ user_form.as_p }}
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
                </form>
                {% endif %}
            </div>

            <footer>
                <p class="cred"> &copy Team Platypus</p>
            </footer>
        </div>
    </body>
</html>
